body{
    background-color: lightgrey;
    margin: 0;
    padding: 0;
}
h1{
    color: blueviolet;
    white-space: pre-line;
    word-wrap: break-word;
    margin-top: 0;
}
#canvasdiv{
    margin: auto;
    height: 60%;
    width: 50%;
}
#leftdiv{
    position: fixed;
    left: 0;
    width: 20%;
    height: 100%;
    overflow: scroll;
    background-color: #252934;
}
#table{
    overflow: scroll;
    height: 70%;
}
button{
    width: 60px;
    height: 30px;
    margin: 10px;
    background-color: darkgrey;
    border-radius: 5px;
    border-style: solid;
    border-color: black

;
}
/*header{*/
/*    width: 100%;*/
/*    height: 10%;*/
/*    background-color: #252934;*/
/*    position: fixed;*/
/*}*/