body{
    background-color: lightgrey;
    margin: 0;
    padding: 0;
}
h1{
    color: blueviolet;
    white-space: pre-line;
    word-wrap: break-word;
    margin-top: 0;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas{
    max-height: 100%;
    max-width: 100%;
}
.layout-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#leftdiv {
    width: 200px;
    min-width: 150px;
    background-color: #252934;
    overflow-y: auto;
    flex: 0 0 auto;
    order: 1;
    align-content: center;

}

#rightdiv {
    width: 40%;
    min-width: 100px;
    background-color: #6470a3;
    order: 3;
    overflow: scroll;
    flex: 0 0 auto;
}

#canvasdiv {
    flex: 1;
    padding: 10px;
    background-color: #ffffff;
    position: relative;
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    order: 2;
}
#input{
    background-color: #252934;
    width: 100%;
    height: 50%;
    color: white;
    border-style: none;
}

@media (max-width: 768px) {
    .layout-container {
        flex-direction: column;
        height: auto;
        overflow-y: auto;
    }

    #leftdiv, #canvasdiv, #rightdiv {
        width: 100%;
        flex: none;
    }

    #leftdiv {
        height: auto;
        min-height: 50px;
        max-height: 150px;
        order: 1;
        align-items: center;
        align-content: center;
    }

    #canvasdiv {
        height: 50vh;
        order: 2;
    }

    #rightdiv {
        height: auto;
        min-height: 300px;
        order: 3;
    }
}
button{
    width: 60px;
    height: 70px;
    margin: 10px;
    background-color: darkgrey;
    border-radius: 5px;
    border-style: solid;
    border-color: black

;
}
/*header{*/
/*    width: 100%;*/
/*    height: 10%;*/
/*    background-color: #252934;*/
/*    position: fixed;*/
/*}*/